*{
  font-size: 16px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 125px;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/***  App CSS ***/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: rgba(102, 102, 102, 0.65); */
  background: ghostwhite;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.loading {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0.35rem solid rgba(255, 255, 255, 0.2);
  border-top-color:rgb(29, 161, 242);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}


/*** Common CSS Utitlies ***/
.pd20{
  padding: 20px;
}

.pd0{
  padding: 0!important;
}

.display-content-center{
  display: flex;
    align-items: center;
    justify-content: center;
}
.display-spaced-items{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.tweets-list-group{
  display:flex;
  flex-direction: column;
  float: right;
}
.display-flex{
  display: flex;
}

img{
  margin-right: 15px;
}
a{color:#000;}
.search-input{
  height: 34px;
  font-size: 16px;
}
.more-tweets{
  position: relative;
  bottom: 3px;
}
img,.search-input,.more-tweets{
  border-radius: 50px;
}
li.list-group-item:hover{
  background:rgb(245, 248, 250);
}
li.list-group.item >img{
  min-width: 48px;
}
.tweets-list-group .display-flex>a:nth-child(2){
  color:rgb(101, 119, 134) !important;
}
.btn{
  font-size: 16px;
}
/*** End ***/
